.event > .row > .column:nth-of-type(1) {
	flex: 0.8;
}

.event > .row > .column:nth-of-type(2) {
	flex: 1;
}

.event {
	border-radius: 30px;
	background: #f1f9ff;
	padding: 30px;
	box-shadow: inset 0 0 1px #000;
	line-height: 20px;
}

.main .event:not(:last-of-type) {
	margin-bottom: 50px;
}

.event img {
	border-radius: 30px;
	object-fit: cover;
	width: 100%;
	height: 230px;
}

.event h1 {
	color: #232323;
	font-weight: normal;
	text-align: center;
	/*margin-bottom: 50px;*/
	line-height: 10px;
	margin: 10px;
}

.event h2 {
	color: #232323;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	line-height: 10px;
	/*margin-bottom: 50px;*/
}

.event h3 {
	color: #232323;
	text-align: center;
	font-size: 13px;
	line-height: 10px;
	/*margin-bottom: 50px;*/
}


.event .event-bottom {
	font-weight: bold;
	font-size: 18px;
}


.event button {
	width: 100%;
	padding: 10px 30px;
	border: none;
	background: #ff7800;
	border-radius: 30px;
	color: #f1f9ff;
	text-transform: uppercase;
}




