#sidebar {
	padding: 20px;
	width: 280px;

}

#sidebar .link {
	padding: 20px 0;
}

#sidebar a {
	color: #a6a699;
	text-decoration: none;

}

#sidebar i {
	color: #ff7800;
	width: 50px;
	text-align: center;
}

@media (max-width: 1199px) {

	#sidebar span{
		font-size: 12px;
	}
}

@media (max-width: 991px) {



	#sidebar {
		padding: 5px;
		width: auto!important;
	}

	#sidebar span{
		display: none;
	}
}